<nav dir='navbar.position' class="navbar navbar-default row">
  <div>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-sm-1">
      <button (click)="seDisconnect()" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div style="padding-top:1.5%" class="col-sm-5">


      <div style="padding-left:3%" class="col-sm-3">
        <a class="child" [routerLink]="['/home']">
          <p style="font-size: 17px">
            <span class="glyphicon glyphicon-home"></span>&nbsp;{{'navbar.home' | translate}}</p>
        </a>
      </div>
      <div class="col-sm-4" >

      </div>
      <div class="col-sm-4" >

      </div>
    </div>


    <div style="padding-top:1.5%" class="col-sm-6">
      <div class="col-sm-3">
        <select name="thelist" (change)="changeLang($event.target.value)">
          <option style='display:none' value="" disabled selected>{{langue}}</option>
          <option>{{'navbar.langueFr' | translate}}</option>
          <option>{{'navbar.langueAn' | translate}}</option>
          <option>{{'navbar.langueAr' | translate}}</option>
        </select>
      </div>
      <div class="col-sm-4">

        <p style="font-size: 17px"> {{'navbar.dateSession' | translate}} : 05/01/2019 </p>

      </div>
      <div class="col-sm-5">
        &nbsp;
        <span style="font-size: 17px">Bilel OUESLATI
        </span>&nbsp;
        <span (click)="seDisconnect()" style="cursor:pointer" class="glyphicon glyphicon-off"></span>
      </div>
    </div>



    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
  <!--<div class="demo-container">
    <div class="progress-bar">
      <div class="progress-bar-value"></div>
    </div>
  </div>-->
</nav>
