<div id="sidebar-wrapper">
  <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
    <li>

      <a [routerLink]="['/accueil/']" class="selected" [routerLink]="['/accueil/listAdresse/']">
        <span class="fa-stack fa-lg pull-left"></span>
        <span class="glyphicon glyphicon-home}"></span>&nbsp;
        <span>
         Administration
        </span>
      </a>
      <ul style="cursor: pointer">
        <li id="collapse1" class="panel-collapse" class="child">
          <a [routerLink]="['/accueil/user']">
            <span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;
            <span>
              Gestion utilisateur
            </span>


          </a>

        </li>

      </ul>
    </li>
  </ul>
  <!-- <ul class="col-md-2 col-md-offset-1">
    <img class="image-responsive" src="assets/img/asb.png" id="asb" />
  </ul> -->
</div>

<!-- /#sidebar-wrapper -->
