/* Toggle Styles */
li {
  list-style: none;
}
.nav-pills > li > a {
  border-radius: 0;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

}

#wrapper.toggled {
  padding-left: 250px;
  overflow: hidden;
}

#sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  left: 15%;
  width: 0;
  height: 85%;
  margin-left: -15%;
  margin-top: 72px;
  overflow-y: auto;
  background: #f8f8f8;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  border: 1px solid #888;
  -webkit-box-shadow: 5px 0 5px -2px #888;
          box-shadow: 5px 0 5px -2px #888;
          border-top-style: none;
}

#wrapper.toggled #sidebar-wrapper {
  width: 15%;
}

#page-content-wrapper {
  position: absolute;
  padding: 15px;
  width: 100%;
  overflow-x: hidden;
}

#wrapper.toggled #page-content-wrapper {
  position: relative;
  margin-right: 0px;
}

.fixed-brand {
  width: auto;
}
/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 2px;
}

.sidebar-nav li {
  text-indent: 2px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 95%;
}

.child:hover {
  text-decoration: none;
  color: #7f8c8d;
  background: rgba(255, 255, 255, 0.2);
  border-left: red 2px solid;
}
.selected {
  text-decoration: none;
  color: #7f8c8d;
  background: #b2bec3;
  border-left: red 5px solid;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
  color:black;
  background-color: #E9EAEC;
  border-left: red 5px solid;

}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 15px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #000;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #7f8c8d;
  background: none;
}

.no-margin {
  margin: 0;
}
.nav-pills > li.active > a, .nav-pills > li.active > .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #7f8c8d;
}
@media (min-width: 768px) {
  #wrapper {
     padding-left: 250px;
  }
  .fixed-brand {
     width: 100%;
  }
  #wrapper.toggled {
     padding-left: 0;
  }
  #sidebar-wrapper {
     width: 15%;
  }
  #wrapper.toggled #sidebar-wrapper {
     width: 250px;
  }
  #wrapper.toggled-2 #sidebar-wrapper {
     width: 50px;
  }
  #wrapper.toggled-2 #sidebar-wrapper:hover {
     width: 250px;
  }
  #page-content-wrapper {
     padding: 20px;
     position: relative;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
  }
  #wrapper.toggled #page-content-wrapper {
     position: relative;
     margin-right: 0;
     padding-left: 250px;
  }
  #wrapper.toggled-2 #page-content-wrapper {
     position: relative;
     margin-right: 0;
     margin-left: -200px;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
     width: auto;
  }
}

#asb {
   position: relative;
   width: 170px;
   top: 820px;
}
