<div
  [ngStyle]="{ 'background-image': 'url(assets/img/bgquality.png)' }"
  class="app flex-row"
  style="background-color:white;height: 800px;"
>
  <div style="padding-top:10%">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <img src="assets/img/asb1.png" />
      </div>
      <div class="col-md-6 col-md-offset-2"></div>
    </div>
    <div

      class="row"
      style="background-color:white"
    >
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="panel panel-default" style="border-color: #E30521;">
          <div
            class="panel-heading"
            style="background-color: #E30521; color: white; text-align: center"
          >
            <h4>Reset my password</h4>
          </div>
          <div class="panel-body" style="background-color: #F2F2F2">
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label>Password</label>
                <input
                  type="password"
                  [(ngModel)]="user.password"
                  formControlName="password"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                />
                <div
                  *ngIf="submitted && f.password.errors"
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="f.password.errors.required"
                    style="color: #E30521"
                  >
                  The password is required!
                  </div>
                  <div
                    *ngIf="f.password.errors.minlength"
                    style="color: #E30521"
                  >
                  The password must contain at least 6 characters
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Password Confirmation</label>
                <input
                  type="password"
                  [(ngModel)]="user.confirmPassword"
                  formControlName="confirmpassword"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && f.confirmpassword.errors
                  }"
                />
                <div
                  *ngIf="submitted && f.confirmpassword.errors"
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="f.confirmpassword.errors.required"
                    style="color: #E30521"
                  >
                  Password confirmation is required!
                  </div>
                </div>
                <div
                  *ngIf="user.password !== user.confirmPassword"
                  style="color: #E30521"
                >
                  The password confirmation must be identical to the password
                </div>
              </div>
              <div class="form-group" style="float: right;">
                <button
                  style="background-color:#E20520;border-color:#E20520;color:white"
                >
                  Valider
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-3">
        <img src="assets/img/asb3.png" />
      </div>
    </div>
  </div>
</div>
