<div [ngStyle]="{ 'background-image': 'url(assets/img/bgquality.png)'}" class="app flex-row" style="background-color:white;height: 800px;">
  <app-sidebar></app-sidebar>
  <app-pages-top></app-pages-top>
<div>
  <router-outlet></router-outlet>
</div>
</div>
