<div
  [ngStyle]="{ 'background-image': 'url(assets/img/bgquality.png)' }"
  class="app flex-row"
  style="background-color:white;height: 800px;"
>
  <div style="padding-top:10%">

      <div class="row">
        <div class="col-md-6 col-md-offset-2">
        </div>

        <div class="col-md-6 col-md-offset-2"></div>
      </div>
      <div class="row" style="background-color:white">
        <div class="col-md-2"></div>

        <div class="col-md-4">
          <fieldset>
            <legend>
              <a ui-sref="home">
                <img
                  src="assets/img/fst.png"
                  class="img-rounded"
                  width="65%"
                  height="25%"
                  style="padding-left:30%"
                />
              </a>
            </legend>
            <div class="control-group">
              <b>
                Description
              </b>
            </div>
          </fieldset>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default" style="border-color: #E30521;">
            <div
              class="panel-heading"
              style="background-color: #E30521; color: white; text-align: center"
            >
              <!-- 				                        <h3 class="panel-title">Please Sign In</h3> -->
              <h4>{{'auth.signIn' | translate}}</h4>
            </div>
            <div class="panel-body" style="background-color: #F2F2F2">
              <!-- 							        	<h4 translate="login.title">Sign in</h4> -->

              <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label>{{'auth.login' | translate}}</label>
                  <input autocomplete="false" type="text" [(ngModel)]="user.login" formControlName="login" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.login.errors }"
                  />
                  <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
                    <div *ngIf="f.login.errors.required" style="color: #E30521">Login is required !</div>
                  </div>
                </div>
                <div class="form-group">
                  <label>{{'auth.password' | translate}}</label>
                  <input
                    type="password"
                    [(ngModel)]="user.password"
                    formControlName="password"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.password.errors
                    }"
                  />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required" style="color: #E30521">{{'auth.alert2' | translate}}</div>
                    <div *ngIf="f.password.errors.minlength" style="color: #E30521">{{'auth.alert3' | translate}}</div>
                  </div>
                </div>
                <div class="form-group" style="float: right;">
                  <button
                    style="background-color:#E20520;border-color:#E20520;color:white"
                  >
                  {{'auth.connect' | translate}}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <a
              (click)="resetPassword()"
              style="color: #E30521; font-weight: bold;cursor:pointer"
              >{{'auth.resetPassword' | translate}}</a
            >
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <img src="assets/img/asb3.png" />
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
