.img-asb {

  float: none;
  clear: both;
  width: 100%;
}
.card {

  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}
.logo {
  width: 60%;
}
p.bordure_verticale {
  height: 100%;

  border-right: 1px solid blue;
  }
.imagebg{

      background-position: 100%;
      border-radius: 50%;
      width: 100%;
      height: 100%;
}
