<div [ngStyle]="{ 'background-image': 'url(assets/img/bgquality.png)'}"
  class="app flex-row" style="background-color: white; height: 800px;">
  <app-pages-top></app-pages-top>
	<div style="text-align: center">
    <h1>Welcome  Home</h1>

  </div>
</div>
